<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/clock.css">
    <link rel="shortcut icon" href="assets/images/background/icon_page.gif" type="image/x-icon">
    <script target="_blank" async src="https://cse.google.com/cse.js?cx=44f3a51b7ec03451d">
    </script>
    <title>Page d'Accueil personnalisée Alpha</title>
    <script>

</script>

</head>
<body>

    <div id="background">
        <div id="background-image" class="">

            <header>

                <div id="navBar" class="bg"> 
        
                 
                    <div class="flex-item flex-meteo">
        
                        <div class="flex-meteo-item">
                            <img id="icon-meteo"/>
                        </div>
        
                        <div class="flex-meteo-item">
        
                            <h1 class="text-center mt-5">Météo</h1>
                            <span id="ville"></span>
            
                            <div id="temperature">
                                <span id="temperature_label">
                                Aucune donnée
                                </span> °C
                            </div>
            
                            <div>
                                <span id ="wind"></span>
                            </div>
                        </div>
                    </div>
        
                    <div class="flex-item"><h1 class="date"></h1></div>
        
                        <div class="flex-item etat-soleil-bloc">
                            <h1 class="etat-soleil"></h1>
                        </div>

        
                    </div>
            </header>


            <section id="google-section">
             
                <form onsubmit="redirectToSearchResults(this.querySelector('input').value); return false;" target="_blank" class="custom-search-container">
                    <input id="google_input_bar" type="text" name="q" class="custom-search-input" size="40" placeholder="Rechercher...">
                    <input id="google_btn_search" type="submit" value="Google" class="custom-search-submit click">
                </form>
                    
            </section>


            
        
            <div id="fav-site-bloc" class="flex">
                <div class="fav-icon-item">
                    <a target="_blank" href="https://www.linkedin.com/feed/?nis=true">
                        <img class="logo click" src="https://img.freepik.com/vecteurs-premium/logo-linkedin-carre-isole-fond-blanc_469489-892.jpg" alt="LinkedIn">
                    </a>
                </div>
                <div>
                    <a target="_blank" href="https://twitter.com/home">
                        <img class="logo click" src="https://www.jesus-forain.fr/uploads/blogPostImage/300/212/logo-x.com.jpg" alt="X.com">
                    </a>
                </div>
                <div>
                    <a target="_blank" href="https://www.twitch.tv/votrechainedetwitch">
                        <img class="logo click" src="https://play-lh.googleusercontent.com/QLQzL-MXtxKEDlbhrQCDw-REiDsA9glUH4m16syfar_KVLRXlzOhN7tmAceiPerv4Jg" alt="Twitch">
                    </a>
                </div>
                <div>
                    <a target="_blank" href="https://www.deviantart.com">
                        <img class="logo click" src="https://logo-marque.com/wp-content/uploads/2020/11/DeviantArt-Embleme.jpg" alt="Deviantart">
                    </a>
                </div>
                <div>
                    <a target="_blank" href="https://technomagie.forumsrpg.com">
                        <img class="logo click" src="https://i.servimg.com/u/f65/16/46/38/98/sans_202.png" alt="Techomagie Forum">
                    </a>
                </div>
                <!-- Conserver les liens existants, en les laissant vides si vous souhaitez les garder -->
                <div>
                    <a target="_blank" href="">
                        <img class="logo click" src="" alt="A garder">
                    </a>
                </div>
                <div>
                    <a target="_blank" href="">
                        <img class="logo" src="" alt="A garder">
                    </a>
                </div>
            </div>
            

            

            <div id ="session-video" class="none">
                
                <div id="menu-video">
                    
                    <span id="integration-youtube" class="">
                        <div class="flex">
                            <label id="label-integration-content" for="video">Intégrer une vidéo</label>
                        </div>
    
                        <input type="text" placeholder="Collez le lien d'intégration youtube" id="in">
                        <input type="button" id="valide" class="btnStyle" value="Afficher vidéo youtube">
                    </span>

                    
                    <input type="button" id="choix-video" class="none btnStyle" value="Choissez une video">
                    <input type="button" id="video-btn" class=" btnStyle" value="Passez en mode video">
                    <input type="button" id="hide" class="btnStyle" value="Cachez les formulaires">
        
                </div>

                
                <div id="bloc-video" class="none">
                    <div id="content-video" class="">
                        <video id="video" loading="lazy" controls width="1000" height="562.57">                    
                            video.
                        </video>
                    </div>
                    <div id="bloc-choix-video" class="none">
                        <div>Choisez une vidéo</div>
                        <div id="bloc-thumbnail">
                            <figure><img id="Image1" class="thumbnail" src="assets/images/thumbnail/thumbnail_video_day.png" alt="Détente jour">
                                <figcaption>Détente jour</figcaption>
                            </figure>
                            <figure><img id="Image2" class="thumbnail" src="assets/images/thumbnail/thumbnail_video_night.png" alt="Détente nuit">
                                <figcaption>Détente nuit</figcaption>
                            </figure>
                            <figure><img id="Image3" class="thumbnail" src="assets/images/thumbnail/thumbnail_video_rain.png" alt="Détente pluie">
                                <figcaption>Détente pluie</figcaption>
                            </figure>
                            <figure><img id="Image4" class="thumbnail" src="assets/images/thumbnail/thumbnail_summer_forest.png" alt="Spyro forêt d'été">
                                <figcaption>Détente pluie</figcaption>
                            </figure>
                        </div>

                    </div>
                </div>
                
                <div id="video-youtube">
                 
                 <div id ="player"></div>
                </div>

                <div id="bloc-cacher" class="none">
                    <input type="button" id="show" class="btnStyle" value="Réafficher le formulaire">
                </div>
            </div>

            <div id="session-tableau" class="table-wrapper none">
                <div id="bloc-tableau">
                  <div id="app">
                    <table id="tableau">
                      <thead>
                        <tr>
                          <th>Entreprise</th>
                          <th>Adresse</th>
                          <th>Numéro de tel.</th>
                          <th>Lien site ou annonce</th>
                          <th>Date d'appel</th>
                          <th>Réponse</th>
                          <th>Commentaire</th>
                          <th>Supprimer candidature</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Utilisez la directive v-for pour parcourir les candidatures et afficher les informations -->
                        <tr v-for="(candidature, index) in candidatures" :key="candidature.id">
                          <td>{{ candidature.entreprise }}</td>
                          <td>{{ candidature.adresse }}</td>
                          <td>{{ candidature.tel }}</td>
                          <td><a :href="candidature.link" target="_blank">{{ candidature.link }}</a></td>
                          <td>{{ candidature.date }}</td>
                          <td>{{ candidature.reponse }}</td>
                          <td>{{ candidature.commentaire }}</td>
                          <td><button class="btnStyle" @click="deleteCandidature(index)">Supprimer</button></td>
                        </tr>
                      </tbody>
                    </table>
              
                    <div id="bloc-mise-a-jour">
                      <p>Date de la dernière vérification d'offre : {{ lastUpdateDate }}</p>
                    </div>
              
                    <div id="openFormBloc" class="">
                      <button class="btnStyle" @click="toggleMessage">{{ messageVisible ? 'Fermer le message' : 'Afficher le message' }}</button>
                    </div>
              
                    <div id="blocCandidature" v-if="messageVisible">
                      <form>
                        <div>

                            <h1>Ajouter une entreprise</h1>
                            <div v-if="errorEntreprise">Erreur : Le champ entreprise ne peut pas être vide.</div>
                            <div id="form" @submit.prevent="">
                                <div class="blocFormulaireLigne">
                                    <div class="blocFormulaire">
                                        <label for="inputEntreprise">Entreprise</label>
                                        <input v-model="newCandidature.entreprise" type="text" class="" id="inputEntreprise">
                                    </div>
                                    <div class="blocFormulaire">
                                        <label for="inputAdresse">Adresse</label>
                                        <input v-model="newCandidature.adresse" required type="text" class="integrationInputNight" id="">
                                    </div>
                                </div>
                                <div class="blocFormulaireLigne">
                                    <div class="blocFormulaire">
                                        <label for="inputTel">Numéro de téléphone</label>
                                        <input v-model="newCandidature.tel" required type="text" class="" id="inputTel">
                                    </div>
                                    <div class="blocFormulaire">
                                        <label for="inputLink">Lien site ou annonce</label>
                                        <input v-model="newCandidature.link" required type="url" class="" id="inputTel"
                                        placeholder="https://example.com" pattern="https://.*" size="30">
                                  </div>
                                </div>
                                <div class="blocFormulaireLigne">
                                    <div class="blocFormulaire">
                                        <label for="inputDate">Date</label>
                                        <input v-model="newCandidature.date" required type="date" class="" id="inputdate">
                                      </div>
                                    <div id="blocReponse" class="blocFormulaire">
                                     <legend class="formReponseLegend">Réponse</legend>
                                        <div class="inputBlocRadio">
                                            <input required type="radio" class="radioInput radioInputDay" id="oui" name="inputReponse" value="oui"
                                            v-model="newCandidature.reponse">
                                          <label class="labelRadio" for="oui">Oui</label>
                                          <input required type="radio" class="radioInput radioInputDay" id="non" name="inputReponse" value="non"
                                            v-model="newCandidature.reponse">
                                          <label class="labelRadio" for="non" checked>Non</label>
                                        </div>
                                    </div>
                                </div>

                              <div class="blocFormulaire">
                                <label for="inputCommentary">Commentaire?</label>
                                <input v-model="newCandidature.commentaire" type="text" class="" id="inputCommentary">
                              </div>
                              <div class="blocButtonSubmit">
                                <button type="submit" @click.prevent="submitCandidature();" class="btnStyle"><i class=""></i> Ajouté la candidature à la liste</button>
                              </div>
                            </div>

                            

                        </div>
                        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              
            
              <script src="https://unpkg.com/vue@3.2.22/dist/vue.global.js"></script>
              <script>
                // Votre code Vue.js ici
                // ...
              </script>
            </body>
            
            </html>
            
            <div id="bloc_group">

                <div>
                    <div id="bloc-horloge">
                        <span class="PM"></span>
                            <div id="horloge-background">
                                <div id="cadre">
                                    <span class="grande-aiguille"></span>
                                    <span class="petite-aiguille"></span>
                                    <span class="seconde"></span>
                                    <span class="dot"></span>

                                    <div class="chiffre chiffre12">12</div>
                                    <div class="chiffre chiffre1">1</div>
                                    <div class="chiffre chiffre2">2</div>
                                    <div class="chiffre chiffre3">3</div>
                                    <div class="chiffre chiffre4">4</div>
                                    <div class="chiffre chiffre5">5</div>
                                    <div class="chiffre chiffre6">6</div>
                                    <div class="chiffre chiffre7">7</div>
                                    <div class="chiffre chiffre8">8</div>
                                    <div class="chiffre chiffre9">9</div>
                                    <div class="chiffre chiffre10">10</div>
                                    <div class="chiffre chiffre11">11</div>
                                </div>
                            </div>
                    </div>
                </div>    
            
            </div>
          
                      
        </div>

        <footer class="footer">
            <div id="background-menu" class="">
                <div id ="menu-affichage">
                    <div id="menu-deroulant-conteneur">
                        <button class="btnStyle btn-deroulant-style" id="btn-menu-deroulant">Mode</button>
                        <div class="menu-conteneur">
                            <ul id="menu-deroulant" class="style-menu none close">
                                <li class="menu-item" id="web-affiche">
                                    Affichage site web
                                </li>
                                <li class="separator"></li>
                                <li class="menu-item" id="youtube-affiche">
                                    Affichage Youtube
                                </li>  
                                <li class="separator"></li>
                                <li id="tableau-affiche">
                                    Affichage Tableau recherche d'emploi
                                </li>               
                            </ul>
                        </div>
                    </div>


                </div>
                <div id="menu-info">
                    <button class="btnStyle btn-deroulant-style" id="" @click.prevent="goToTable()">Mode</button>
                    <ul id="" class="style-menu none close">
                        <li id="web-affiche">
                            Affichage site web
                        </li>
                        <li id="youtube-affiche">
                            Affichage Youtube
                        </li>     
              
                    </ul>
                </div>

            </div>

            


        </footer>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue@3.2.21/dist/vue.esm-bundler.js"></script>
    <script src="assets/jquery/jquery-3.6.4.min.js"></script>
    <script src="assets/js/suncalc-master/suncalc.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/meteo/meteo.js"></script>
    <script src="assets/js/audio.js"></script>
    <script src="assets/js/google_script.js"></script>
    <script src="assets/js/api.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>