


#bloc-horloge {
    height: auto;
    width: 180px;
    position: relative;
    text-align: center;
}

.PM {
    font-size: 28px;
    font-family: 'Times New Roman', Times, Georgia, serif;
    position: relative;
    z-index: 1;
    top: 59px;
    }

/* bloc horloge */

.center-clock{
    right: 48vw!important;
    bottom: 25vw!important;
}


/* cadre horloge */
 
#horloge-background {
    opacity: 0.8;
    opacity: 0.8;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transform: translate(10%, 0%);

}


/* aguille */

/* Petit et grande Aiguille */

.grande-aiguille, .petite-aiguille {
    position: absolute;
    height: 47px; width: 3.21px;
    margin: auto;
    top: -27%; left: 0;	bottom: 0; right: 0;
    /*background: black;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform-origin: bottom center;
    transform: rotate(0deg);
    z-index: 99;
}

/* Uniquement grande Aiguille */

.grande-aiguille {
    position: absolute;
    height: 67px;
    width: 2.5px;
    top: -38%;
    left: 0;
    transform: rotate(90deg);
    z-index: 99;

}

/* L'aiguille des secondes */

.seconde {
    position: absolute;
    height: 46px;
    width: 2px;
    margin: auto;
    top: -26%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #ff4b3e;
    transform-origin: bottom center;
    transform: rotate(180deg);
}

.dot {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 2px;
	 height: 2px;
	 border-radius: 50%;
	 background: white;
	 border: 2px solid #1b1b1b;
	 margin: auto;
}



.chiffre {
    position: absolute;
    font-size: 22px; /* Taille de la police des chiffres */
    font-family: Arial, sans-serif; /* Police de caractères des chiffres */
    width: 20px;
    text-align: center;
}

.chiffre12 {
    top: 8px;
    left: 48%;
    transform: translateX(-50%);
}

.chiffre1 {
    top: 15px;
    left: 114px;
}

.chiffre2 {
    top: 42px;
    left: 141px;
}

.chiffre3 {
    top: 77px;
    left: 150px;
}

.chiffre4 {
    top: 112px;
    left: 141px;

}

.chiffre5 {
    top: 138px;
    left: 116px;

}

.chiffre6 {
    top: 146px;
    left: 80px;
}

.chiffre7 {
    top: 137px;
    left: 44px;
}

.chiffre8 {
    top: 113px;
    left: 17px;
}

.chiffre9 {
    top: 77px;
    right: 151px;

}

.chiffre10 {
    top: 45px;
    right: 143px;
}

.chiffre11 {
    top: 17px;
    right: 117px;
}


/* horloge-day */

.horloge-backgroundDay {

    background-color: var(--background-color-day);
	background: -moz-linear-gradient(90deg, var(--btn-gradient-start-color-day) 5%, var( --btn-gradient-end-color-day) 100%);
    background: -o-linear-gradient(90deg, var(--btn-gradient-start-color-day) 5%, var( --btn-gradient-end-color-day)100%);
	background: -webkit-linear-gradient(90deg, var(--btn-gradient-start-color-day) 5%, var( --btn-gradient-end-color-day) 100%);
	background: linear-gradient(90deg, var(--btn-gradient-start-color-day) 5%, var( --btn-gradient-end-color-day) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1); 
    border-radius: 50%;
    border: 5px solid var(--border-color-day);
    box-shadow: inset 2px 3px 8px 0 var(--btn-box-shadow-color-day);
    color: var(--text-color-day);

}

.cadreDay .grande-aiguille  {
    background-color: var(--box-shadow-color-day);
    opacity: 1;
}

.cadreDay .petite-aiguille {
    background-color: var(--box-shadow-color-day);
    opacity: 1;
}

.cadreDay .seconde {
    background-color: var(--text-color-day);
    opacity: 1;
}



/* horloge-sunset */

.horloge-backgroundSunset {

    background-color:rgba(254,166,84,1);
	background: -moz-linear-gradient(90deg, var(--custom-search-button-background-gradient-start-sunset) 5%, var( --custom-search-button-background-gradient-end-sunset) 100%);
    background: -o-linear-gradient(90deg, var(--custom-search-button-background-gradient-start-sunset) 5%, var( --custom-search-button-background-gradient-end-sunset)100%);
	background: -webkit-linear-gradient(90deg, var(--custom-search-button-background-gradient-start-sunset) 5%, var( --custom-search-button-background-gradient-end-sunset) 100%);
	background: linear-gradient(90deg, var(--custom-search-button-background-gradient-start-sunset) 5%, var( --custom-search-button-background-gradient-end-sunset) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1); 
    border-radius: 50%;
    border: 5px solid var(--integration-border-color-sunset);
    box-shadow: inset 2px 3px 8px 0 var(--integration-box-shadow-color-sunset);

}

.cadreSunset .grande-aiguille, .petite-aiguille {
    background-color: var(--text-color-sunset);
    opacity: 1;
}

.cadreSunset .seconde {
    background-color: var(--integration-color-sunset);
    opacity: 1;
}

/* horloge-night */

.horloge-backgroundNight {

	
	background: var(--btn-background-gradient-night);

    border-radius: 50%;
    border: 5px solid var(--entete-border-bottom-color-night);
    box-shadow: inset 2px 3px 8px 0 var(--black);

}

.cadreNight .grande-aiguille, .petite-aiguille {
    background-color: var(--white);
    opacity: 1;
}

.cadreNight .seconde {
    background-color: var(--integration-color-sunset);
    opacity: 1;
}




