/* Déclarez les variables CSS pour les couleurs, la police et la taille de texte */
/* Couleurs */
:root {

    /* varDay */

    --white : rgba(252, 252, 252, 1);
    --entete-border-bottom-color-day: #baefff;
    --entete-background-color-day: rgba(251, 175, 44, 0.245);
    --entete-box-shadow-color-day: #ffefbb;
    --box-shadow-color-day: #ebf0ff;
    --gradient-start-color-day: rgba(252, 252, 252, 0.5);
    --gradient-end-color-day: rgba(129, 182, 249, 0.5);
    --border-color-day: #baefff;
    --text-color-day: #256aff;
    --background-color-day: rgb(252, 252, 252);
    --btn-box-shadow-color-day: #ebf0ff;
    --btn-gradient-start-color-day: rgba(252, 252, 252, 1);
    --btn-gradient-end-color-day: rgba(129, 182, 249, 1);
    --btn-border-color-day: #baefff;
    --btn-background-color-day: rgba(252, 252, 252, 1);
    --btn-button-hover-background-color-day: rgba(0, 209, 254, 1);
    --btn-text-shadow-day: #ecead0;
    

    

    --btn-hover-gradient-start-color-day: rgba(0, 209, 254, 1);
    --btn-hover-gradient-end-color-day: rgba(128, 184, 247, 1);
    --btn-hover-background-color-day: rgba(0, 209, 254, 1);
    --btn-hover-button-hover-background-color-day: rgba(0, 209, 254, 1);

    /* varSunset*/

    --entete-border-color-sunset: #bcff57;
    --entete-background-color-sunset: rgba(255, 118, 14, 0.35);
    --entete-box-shadow-color-sunset: #ff9e27;
    --text-color-sunset: #020705;

    --btn-background-gradient-Sunset: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);

    
    --integration-border-color-sunset: #07541e;
    --integration-background-gradient-start-sunset: rgba(254, 166, 84, 1);
    --integration-background-gradient-end-sunset: rgba(255, 138, 13, 0.788);
    --integration-color-sunset: #ff0000;
    --integration-box-shadow-color-sunset: rgb(255, 166, 64);
    
    --custom-search-button-background-gradient-start-sunset: rgba(254, 166, 84, 1);
    --custom-search-button-background-gradient-end-sunset: rgba(255, 138, 13, 0.788);
    --custom-search-button-border-color-sunset: #07541e;
    --custom-search-button-box-shadow-color-sunset: #ff8c21;
    
    --block-choix-video-background-gradient-start-sunset: rgba(254, 166, 84, 0.50);
    --block-choix-video-background-gradient-end-sunset: rgba(255, 138, 13, 0.50);
    --block-choix-video-box-shadow-color-sunset: #ff8c21;
    --block-choix-video-border-color-sunset: #ffc003;
    --block-choix-video-text-color-sunset: #020705;
    
    /* varNight */

    --black :#000;
    /* Définition des variables du mode nuit à partir du code ---Mode-Nuit--- */

    /* Entête */
    --entete-border-bottom-color-night: #6c5ffa;
    --entete-background-color-night: rgba(75, 63, 246, 0.243);
    --entete-box-shadow-color-night: #000;
    
    /* Nav-item */
    --nav-item-background-color-night: #023a3b14;
    
    /* Block-choix-video */
    --block-choix-video-background-gradient-night: rgba(63, 67, 218, 0.50);
    --block-choix-video-box-shadow-color-night: #000;
    --text-color-night: #ffffff; /* Répété ici pour correspondre à votre code */

    /* Figcaption */
    --figcaption-background-gradient-night: rgba(63, 67, 218, 1);
    --figcaption-text-color-night: #fff;

    /* Bouton */
    --btn-background-gradient-night: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
    --btn-hover-gradient-night: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);

    /* Input nuit */
    --integration-input-background-gradient-night: linear-gradient(0deg, rgba(63,67,218,0.75) 0%, rgba(111,34,195,0.75) 100%);
    --placeholder-color-night: #1b1b1b;

    /* Radio Input nuit */
    --radio-input-background-gradient-night: linear-gradient(0deg, rgba(63,67,218,0.75) 0%, rgba(111,34,195,0.75) 100%);
    --radio-input-checked-background-gradient-night: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    
    /* Tableau nuit */
    --tableau-background-color-night: rgba(75, 63, 246, 0.243);
    --tableau-cell-background-color-night: #30104a46;

    /* Bloc formulaire nuit */
    --bloc-formulaire-background-color-night: rgba(112, 126, 246, 0.35);


}


/* Police */
:root {
  --font-family: Georgia, serif;
  --font-size: 16px;
}



* {
    margin: 0 ;
    padding: 0;

}

html {

    position: relative;
    min-height: 100vh;

}

.background-jour {
    background-image: url(../images/background/japoness_anaya.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;


}

.background-crepuscule{
    background-image: url(../images/background/Kollab_s_DrugStuck.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    
}

.background-nuit{
    background-image: url(../images/background/dragon_and_katana.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}

/* Chargez une image Retina pour les écrans haute résolution */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .background-nuit{
        background-image: url(../images/background/dragon_and_katana.webp);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    
    }
}

/* Chargez une image plus petite pour les écrans mobiles */
@media only screen and (max-width: 768px) {
    .background-nuit{
        background-image: url(../images/background/dragon_and_katana_small.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    
    }
}

#background-image {

    position: relative;    

    
}

.background-Image {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover; /* Utilisez object-fit: cover; pour simuler le comportement "cover" */
}


/* class volatile */

.flex{
    display: flex!important;
}

.flex2 {
    display: flex;
}

.block{
    display: block;
    opacity: 1;
    transition: opacity 0.5s, diplay 0.5s;

    
}

.none {
    opacity: 0;
    display: none;
    transition: opacity 0.5s, diplay 0.5s;

}

.none2 {
    display: none;
}


/* Date style */

#navBar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    }



.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.flex-item:nth-child(2) {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.flex-item:nth-child(3) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: start;
    align-self: center;
}


/* flex météo */

.flex-meteo {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#icon-meteo {
    width: 48px;
    height: 48px;
}

.flex-meteo-item:nth-child(1) {
    flex: 0 0 2vw;

    }

.flex-meteo-item:nth-child(2) {
    flex: 0 0 8vw;
    }

/*.navBar {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;


}*/

.item {
    display: inline-block;
    width: 35vw;
    height: 95px;
    font-size: calc(0.7rem + 0.5vw);
    font-family: 'Times New Roman', Times, Georgia, serif;
    text-align: center;


}

/* nav-menu */

#nav-menu{
    margin-top: 50px;
    width: 100%;
    height: auto;
}

#nav-deroulant-conteneur {
    padding: 20px 20px 20px 20px ;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

#nav-deroulant-conteneur .nav-item {
font-family: cursive;
padding-left: 15px;
padding-right: 15px;
margin-left: 2vw;
margin-right: 2vw;
}

#nav-deroulant-conteneur .nav-item  {
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;  
    font-size: 28px;
    }

    #nav-deroulant-conteneur .nav-item:hover {
        text-decoration:underline;
        }

/* google recherche  */

/* Style pour le conteneur du formulaire */
.custom-search-container {
    /* Ajoutez ici les styles que vous souhaitez appliquer au conteneur */
    display: flex; /* Utilisez un affichage flexible pour aligner les éléments horizontalement */
    height: 35px;
    width: 50vw;
    margin: auto;
    padding: 5vw;
    max-width: 500px;
    justify-content: center;
}

/* Style pour le champ de texte de recherche */
.custom-search-input {
    /* Ajoutez ici les styles que vous souhaitez appliquer au champ de texte */
    width: 200px; /* Exemple de largeur */
    flex-grow: 1; /* Faites en sorte que le champ de texte prenne le reste de l'espace disponible */
}

.custom-search-form input {
    /* Annulez les styles indésirables ici */
    width: auto; /* Réinitialise la largeur à la valeur par défaut */
    min-width: auto; /* Réinitialise la largeur minimale à la valeur par défaut */
    /* Ajoutez d'autres styles spécifiques au formulaire de recherche ici */
}

/* Style pour le bouton de soumission */
.custom-search-submit {
    /* Ajoutez ici les styles que vous souhaitez appliquer au bouton de soumission */
    font-size: 12px; /* Taille de la police du texte */
    padding: 5px 10px; /* Espacement interne (padding) pour le bouton */
    border: none; /* Supprimer la bordure du bouton */
    cursor: pointer; /* Curseur de souris en forme de main */
    flex-shrink: 0; /* Empêche le bouton de réduire sa taille pour s'adapter à l'espace disponible */
    font-weight: bold;

}

.custom-search-submit:active {
    top: 1px;
    position: relative;
}



.listsoleil{
    list-style: none;
}


/* Ajoutez les styles d'animation */
.OpacityAnimation {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.OpacityAnimationIn {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}



/* Liste site */

/* bloc logo */

#fav-site-bloc {
    position: relative;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
}


  
  

/* bloc site */

#fav-site-bloc > div {
    flex : 0 0 150px;
}


.logo {
    width: 100px;
    height: 100px;
    opacity: 0.50;
    border: 2px solid #1b1b1b;
    z-index: 2;
    transition: transform 0.5s; /* Ajoutez une transition pour une animation fluide */

}

.logo:hover {
    opacity: 1;
    transform: translate(0,-25px)

}




/* bloc_group */

#bloc_group {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



#content-video {
    display: flex;
} 



.error {
    padding: 0.5rem;
    color: white;
    width: auto;
    max-width: 160px;
    position: absolute;
    top: -60px;
    margin-left: 1rem;
    border-radius: 15%;
    transition: all 0.5s;
}

.error-sunset{
    background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    color: var(--text-color-sunset);
}

.error-night{
    background: var(--btn-hover-gradient-night);
    color: var(--text-color-night);

}

.error-day {
    background: linear-gradient(90deg, var(--btn-gradient-start-color-day), var(--btn-gradient-end-color-day) 100%);
    color: var(--text-color-day);
}

#menu-video {
    opacity: 1;
}

.fade {
    -webkit-animation: fadeoutVideo ;
    animation: fadeoutVideo;
    animation-duration: 1.29s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeoutVideo {
    from { opacity: 1; 
    }
      to { opacity: 0; 
    }
}
@keyframes fadeoutVideo {
    from { opacity: 1;  
    }
      to { opacity: 0; 
    }
}







#session-video {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
}

/* bloc-video */

#bloc-video {
    margin-top: 35px;
    margin-bottom: 35px;
}

/* video-youtube block*/

#video-youtube {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 1000px;
    height: 562.57px;
    padding: 1.5rem;
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
}

.video-cadre-day {
    border-color: var(--entete-border-bottom-color-day);
    background-color: var(--entete-background-color-day);
    box-shadow: var(--entete-box-shadow-color-day) 2px 2px 15px;
}

.video-cadre-sunset {
    border-color: var(--entete-border-color-sunset);
    background-color: var(--entete-background-color-sunset);
    box-shadow: var(--block-choix-video-box-shadow-color-sunset) 2px 2px 15px;
}

.video-cadre-night {
    border-color: var(--tableau-cell-background-color-night);
    background-color: var(--entete-background-color-night);
    box-shadow: var(--block-choix-video-box-shadow-color-night) 2px 2px 15px;
}


#video-youtube iframe {
    width: 100%;
    height: 100%;

}



.simplescreen {
    animation: simplescreenyoutube;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.fullscreen {

    animation: fullscreenvideo;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}


@keyframes fullscreenvideo {
    from { width: 1000px; height: 562px;

    }
      to { width: 1249px; height: 702.5px;
    }
}

@keyframes simplescreenyoutube {
    from { width: 1249px; height: 702.5px;
    }
    to { width: 1000px; height: 562px;

    }

}

@keyframes youtubetest {
    from { 
        width: 1000px; 
        height: 562px;
    }
    to { 
        width: 1249px!important; 
        height: 702.5px!important;
    }
}



#bloc-choix-video {
    margin-right: auto;
    margin-left: auto;
    /*max-width: 85vw;*/
    width: 1000px;
    height: 562px;
    overflow: auto;

}


/* style input / btn  */

/* block btn show */

#bloc-cacher {
    position: absolute;
    left: -15vw;
    top: 140px;
    -webkit-animation: btnhide ;
    animation: btnhide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}




/* Tableau */



#session-tableau {

    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 50px;
    

}

#tableau {
    overflow-x:auto;
}

.table-wrapper {
    justify-content: center;
    align-items: center;
}


#bloc-tableau {

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: auto;

}


th {
    width: auto;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border: #000 2px solid;
}

td {
    border: #000 1px solid;
    text-align: center;
    width: auto;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}



/* class prochain rendez-vous */

.nextAppointment {
    background-color: green;
}

.currentAppointment {
    background-color: rgba(247, 247, 88, 0.503);
}


/* class rendez-vous passé */

.pastDate {
    background-color: rgba(170, 13, 13, 0.329);
}


#bloc-mise-a-jour {
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: end;
}

/* bloc bouton ouverture du formulaire de candidature */

#openFormBloc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* formulaire */

#blocCandidature {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blocCandidature form {
    width: 50%;
}

#blocCandidature h1 {
    text-align: center;
}

.blocFormulaire {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1vw;
}

.blocFormulaire label {
    text-align: center;
    padding: 1vw;
}

.blocFormulaireLigne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#blocCandidature form input {
    width: 100%;
    min-width: 18vw;    
}

/****** input radio *******/

/* bloc reponse */

#blocReponse {
    justify-content: end;
    padding-bottom: 13px;
}


.inputBlocRadio {
    display: flex;
    align-items: center;
}

input[type="radio"].radioInput {
    display: none;
  }

.labelRadio {
    border-radius: 25%;
}

.blocButtonSubmit {
    display: flex;
    justify-content: center;
}


/* ------------------------------------------------- Mode-Jour ---------------------------------------------------------------*/


/* entete */

.EnteteTimeDay {
    border-bottom : var(--entete-border-bottom-color-day);
    background: var(--entete-background-color-day);
    box-shadow: 1px 2px 5px 2px var(--entete-box-shadow-color-day);
    color: var(--white);
}

/* navItemDay  */


.nav-itemDay {
    color: var(--white);
    background-color: #023a3b14;
    box-shadow: 1px 2px 5px 2px var(--black);
    text-shadow: 0px 0px 5px var(--btn-text-shadow-day);


}

.nav-itemDay:hover{

    box-shadow: inset 1px 0px 0px 2px var(--black);

}

/* bloc-choix-video */

.block-choix-video-TimeDay{
    -moz-box-shadow: 16px 0px 0px 2px var(--box-shadow-color-day);
    -webkit-box-shadow: 16px 0px 0px 2px var(--box-shadow-color-day);
    background: -webkit-linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    background: -moz-linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    background: -o-linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    background: var(--background-color-day);
    background: linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    box-shadow: 5px -4px 15px 5px var(--box-shadow-color-day);
    border: 1px solid var(--border-color-day);
    color: var(--text-color-day);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: bold;
    text-decoration: none;
}

/* Tumbnail  */

.figureTimeDay {
    border: thin var(--border-color-day) solid;
}

/* figcaption */

.figcaptionTimeDay {
    background: linear-gradient(90deg, var(--btn-gradient-start-color-day), var(--btn-gradient-end-color-day) 100%);
    color: var(--text-color-day);
}

/* btn video  */


.btn-show-TimeDay{
    -moz-box-shadow: 5px -4px 15px 5px var(--btn-box-shadow-color-day);
    -webkit-box-shadow: 5px -4px 15px 5px var(--btn-box-shadow-color-day);
    box-shadow: 5px -4px 15px 5px var(--btn-box-shadow-color-day);
    background: -webkit-linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    background: -moz-linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    background: -o-linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    background: linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
    background-color: var(--btn-background-color-day);
    border: 1px solid var(--btn-border-color-day);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:var(--text-color-day);
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow: 2px 1px 1px var(--btn-text-shadow-day);
}
.btn-show-TimeDay:hover {
    background: -webkit-linear-gradient(90deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    background: -moz-linear-gradient(0deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    background: -o-linear-gradient(90deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    background: linear-gradient(90deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
}

.btn-show-TimeDay:active {
	position:relative;
	top:1px;
}


/* Google recherche day */
 
.custom-search-submit-Day {
        background: -webkit-linear-gradient(90deg, var(--btn-gradient-start-color-day), var(--btn-gradient-end-color-day));
        border: 1px solid var(--border-color-day);
        color: var(--text-color-day);
        box-shadow: 0px 0px 5px rgba(235,240,255,.72);
        text-shadow: 0px 0px 5px rgba(248,255,113,.75);
        font-size: 16px;



}

.custom-search-submit-Day input[type="text"] {
    font-size: 16px; /* Taille de la police */
    color: #11d3ff;


}

.custom-search-submit-Day:hover {
    background: rgba(0,209,254,1);



}



/** google search box **/


/* Style pour la barre de recherche */
.google-search-boxDay {
        background-color: #ffffff; /* Couleur de l'arrière-plan */
        border: 1px solid #cccccc; /* Bordure */
        border-radius: 5px; /* Coins arrondis */
        padding: 5px; /* Espacement interne */
}



/* Style pour le texte de recherche */
.google-search-box input[type="text"] {
    font-size: 16px; /* Taille de la police */
}

/* Style pour le bouton de recherche */
.google-search-boxDay input[type="submit"] {
    background-color: #4285f4; /* Couleur de fond du bouton */
    color: #ffffff; /* Couleur du texte du bouton */
    border: none; /* Supprimer la bordure du bouton */
    border-radius: 5px; /* Coins arrondis du bouton */
    padding: 10px 20px; /* Espacement interne du bouton */
    cursor: pointer; /* Curseur de la main au survol */
}






.integrationInputDay {
    padding: 5px;
    font-size: 16px;
    border-width: 2px;
    border-color: var(--border-color-day);
    background-color: var(--white);
    color: #11d3ff;
    border-style: groove;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(235,240,255,.72);
    text-shadow: 0px 0px 5px rgba(248,255,113,.75);
}
.integrationInputDay:focus {
    outline:none;
}

#label-integration-content {
    flex: 0 0 207.6px;
    text-align: center;
}

.integrationInputDay::placeholder {
    color: #0088ff;
    text-shadow: none;
}


/* Tableau Jour */

.tableau-jour {
    background-color: #0088ff40;
    color : white;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    box-shadow: 0px 0px 5px #ffefbb;
    border: 1px solid #baefff;

}

.tableau-jour a {
    color: white;
}

.tableau-jour a:hover {
    color: rgb(146, 241, 239);
}

.tableau-jour th {
    font-style: normal;
    font-size: 18px;
}



.tableau-jour th, td  {
    background-color: #e5eeee46;

}



 .formReponseLegend{
    text-align: center;
    padding: 8px;
 }


.tableau-nuit {
    background-color: #0088ff1e;
}


/* Formulaire jour */




    /* Bloc formulaire */

    .blocCandidatureDay {
        border-bottom : 1px solid #eafffe;
        background: rgba(14, 255, 251, 0.35);
        box-shadow: 1px 2px 5px 2px #ffffff;
        padding: 4vw;
    }




.radioInputDay + .labelDay {
	background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    border: 1px solid #baefff;
    
}

.radioInputDay:checked + .labelDay {
    border: 1px dashed #fffcf2;
    background: linear-gradient(90deg, rgba(0,209,254,1) 28%, rgba(128,184,247,1) 100%);
}

.labelDay {
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgb(224, 237, 123);
    font-family:Georgia;
}

/* Foooter */

.blockTimeDay {
    -moz-box-shadow: 16px 0px 0px 2px #ebf0ff;
	-webkit-box-shadow: 16px 0px 0px 2px #ebf0ff;
    background: (90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -o-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: rgba(252,252,252,1);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
    box-shadow: 5px -4px 15px 5px #ebf0ff;
	border: 1px solid #baefff;
    color: #256aff;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow : 2px 1px 1px #fff7a4;
}




/* Foooter */

.blockTimeDay {
    -moz-box-shadow: 16px 0px 0px 2px #ebf0ff;
	-webkit-box-shadow: 16px 0px 0px 2px #ebf0ff;
    background: (90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -o-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: rgba(252,252,252,1);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
    box-shadow: 5px -4px 15px 5px #ebf0ff;
	border: 1px solid #baefff;
    color: #256aff;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow : 2px 1px 1px #fff7a4;
}

/************************************************* Mode-Crepuscule ***********************************************************/

.EnteteTimeSunset {
    border-bottom: 1px solid var(--entete-border-color-sunset);
    background: var(--entete-background-color-sunset);
    box-shadow: 1px 2px 5px 2px var(--entete-box-shadow-color-sunset);
    color: var(--text-color-sunset);
}


/* nav-itemSunset */

.nav-itemSunset {
    color: var(--white);
    text-shadow: 0px 0px 5px var(--white);
    background-color: #023a3b14;
    
    
}

.nav-itemSunset {
    color: var(--text-color-sunset);
}




/* */

.google-search-boxSunset {
    border: 1px solid var(--custom-search-button-border-color-sunset); /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Espacement interne */
}

/* Style pour le texte de recherche */
.google-search-boxSunset input[type="text"] {
    background-color: var(--entete-background-color-sunset); /* Couleur de l'arrière-plan */
    color: var(--integration-color-sunset);/* Couleur du texte */
    font-size: 16px; /* Taille de la police */
}

.google-search-boxSunset input[type="submit"] {
    background: linear-gradient(90deg, var(--custom-search-button-background-gradient-start-sunset) 5%, var(--custom-search-button-background-gradient-end-sunset) 100%);
    color: #020705; /* Couleur du texte du bouton */
    border: none; /* Supprimer la bordure du bouton */
    border-radius: 5px; /* Coins arrondis du bouton */
    padding: 10px 20px; /* Espacement interne du bouton */
    cursor: pointer; /* Curseur de la main au survol */
}



.integrationInputSunset {
    padding: 5px;
    font-size: 16px;
    border-width: 2px;
    border-color: 1px solid var(--integration-border-color-sunset);
    background: linear-gradient(90deg, var(--integration-background-gradient-start-sunset) 5%, var(--integration-background-gradient-end-sunset) 100%);
    color: var(--integration-color-sunset);
    border-style: groove;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px var(--integration-box-shadow-color-sunset);
}

.integrationInputSunset:focus {
    outline:none;
}

#label-integration-content {
    flex: 0 0 207.6px;
    text-align: center;
}

.integrationInputSunset::placeholder {
    text-shadow: 1px 2px 5px rgb(255, 213, 3);
    color: #f3375dfb;
    text-shadow: none;
}

.custom-search-submit-Sunset {
    background: linear-gradient(90deg, var(--custom-search-button-background-gradient-start-sunset) 5%, var(--custom-search-button-background-gradient-end-sunset) 100%);
    background-color: var(--custom-search-button-background-gradient-start-sunset);
    border: 1px solid var(--white);
    box-shadow: 5px -4px 15px 5px var(--custom-search-button-box-shadow-color-sunset);
    color: var(--block-choix-video-text-color-sunset);
    -moz-box-shadow: 1px solid #ffc003;
	-webkit-box-shadow: 1px solid #ffc003;
	box-shadow: 5px -4px 15px 5px #ff8c21;
    text-shadow: 2px 1px 1px #a46d36;
    font-size: 16px;
    color:var(--text-color-sunset);




}
.custom-search-submit-Sunset:hover {
    background: rgb(255,183,115);
    background: -o-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1);

}





/* bloc-choix-video */

.block-choix-video-TimeSunset{
    -moz-box-shadow: 5px -4px 15px 5px var(--block-choix-video-box-shadow-color-sunset);
    -webkit-box-shadow: 5px -4px 15px 5px var(--block-choix-video-box-shadow-color-sunset);
    background: -webkit-linear-gradient(90deg, var(--block-choix-video-background-gradient-start-sunset) 5%, var(--block-choix-video-background-gradient-end-sunset) 100%);
    background: -moz-linear-gradient(90deg, var(--block-choix-video-background-gradient-start-sunset) 5%, var(--block-choix-video-background-gradient-end-sunset) 100%);
    background: -o-linear-gradient(90deg, var(--block-choix-video-background-gradient-start-sunset) 5%, var(--block-choix-video-background-gradient-end-sunset) 100%);
    background: var(--block-choix-video-background-gradient-start-sunset);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea65484",endColorstr="#f7752e92",GradientType=1);
    border: 1px solid var(--block-choix-video-border-color-sunset);
    color: var(--block-choix-video-text-color-sunset);
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/* Tumbnail  */

.figureTimeSunset {
    border: thin #c49c09 solid;
}

/* figcaption */

.figcaptionTimeSunset {
    background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    color:var(--text-color-sunset);
}

/* BTN */

.btn-show-TimeSunset{
    -moz-box-shadow: 1px solid #ffc003;
	-webkit-box-shadow: 1px solid #ffc003;
	box-shadow: 5px -4px 15px 5px #ff8c21;
    background-color:rgba(254,166,84,1);
	background: -moz-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: -o-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	background: -webkit-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
    border: 1px solid #07541e;
	cursor:pointer;
	color: var(--text-color-sunset);
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow: 2px 1px 1px #a46d36;
}

.btn-show-TimeSunset:hover {
    background: rgb(255,183,115);
    background: -o-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1);
}

.btn-show-TimeSunset:active {
	position:relative;
	top:1px;
}

.blockTimeSunset {
    -moz-box-shadow: 5px -4px 15px 5px #ff8c21;
	-webkit-box-shadow: 5px -4px 15px 5px #ff8c21;
    background: -webkit-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: -moz-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: -o-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1);
    box-shadow: 5px -4px 15px 5px #ff8c21;
	border: 1px solid #07541e;
    color: var(--text-color-sunset);
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow : 2px 1px 1px #a46d36;
}




/* Tableau crépuscule */

.tableauSunset  {
    background-color: rgba(255, 119, 0, 0.334);
    border: solid 1px #bcff57;
    color : var(--text-color-sunset); 
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-shadow : 2px 1px 1px #a46d36;
    box-shadow: 1px 2px 5px 2px #ff9e27;

}

.tableauSunset th {
    font-style: normal;
    font-size: 18px;
}



.tableauSunset th, .tableauSunset td {
    background-color: #e5eeee46;
    color: rgb(255, 232, 199);
    text-shadow : 1px 1px 1px #feffe0;
}

.tableauSunset th {
    color: #1c1c1c;
}

.tableauSunset td a {
    color: rgb(85, 113, 255);
}


.tableauSunset td a:hover {
    color: rgb(255, 91, 91);
}
.tableauSunset #bloc-mise-a-jour p {
    color: rgb(255, 115, 0);
    text-shadow : 1px 1px 1px #ff3434;
}


/* Formulaire sunset  */

    /* Bloc formulaire */

    .blocCandidatureSunset {
        border: 1px solid #baefff;
        background: rgba(251, 175, 44, 0.245);
        box-shadow: 1px 2px 5px 2px #ffefbb;
        padding: 4vw;
    }


.radioInputSunset + .labelSunset {
	background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	border: 1px solid #07541e;


}

.radioInputSunset:checked + .labelSunset {
    border: 1px dashed rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
}

.labelSunset {
    font-size: 16px;
    color: #020705;   
    font-family:Georgia;
    text-shadow: 2px 1px 1px #a46d36;
}



/* ------------------------------------------------- Mode-Nuit ---------------------------------------------------------------*/

/* Entête */
.EnteteTimeNight {
    border-bottom: 1px solid var(--entete-border-bottom-color-night);
    background: var(--entete-background-color-night);
    box-shadow: 1px 2px 5px 2px var(--black);
    color: var(--text-color-night);
    text-shadow: 0px 0px 5px var(--black);
}

/* nav-itemNight */

.nav-itemNight{
    color: var(--white);
    text-shadow: 0px 0px 5px var(--black);
    background-color: #023a3b14;
    box-shadow: 1px 2px 5px 2px var(--black);
}

.nav-itemNight:hover{

    box-shadow: 1px 0px 0px 2px var(--black);

}

.nav-itemNight {
    color: var(--white);
}

/* bloc-choix-video */

.block-choix-video-TimeNight {
    -moz-box-shadow: 5px -4px 15px 5px var(--black);
    -webkit-box-shadow: 5px -4px 15px 5px var(--black);
    box-shadow: 5px -4px 15px 5px var(--black);
    background: var(--block-choix-video-background-gradient-night);
    border: 1px solid var(--black);
    color: var(--white);
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/* Tumbnail  */

.figureTimeNight {
    border: thin var(--black) solid;
}

/* figcaption */

.figcaptionTimeNight {
    background: var(--figcaption-background-gradient-night);
    color: var(--figcaption-text-color-night);
}

/* Btn */

.btn-show-TimeNight {
    -moz-box-shadow: 5px -4px 15px 5px var(--black);
    -webkit-box-shadow: 5px -4px 15px 5px var(--black);
    box-shadow: 5px -4px 15px 5px var(--black);
    background: var(--btn-background-gradient-night);
    border: 1px solid var(--black);
    color: var(--white);
    font-family: Georgia;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: 2px 1px 1px var(--black);
}

.btn-show-TimeNight:hover {
    background: var(--btn-hover-gradient-night);
}

.btn-show-TimeNight:active {
    position: relative;
    top: 1px;
}

.blockTimeNight {
    -moz-box-shadow: 5px -4px 15px 5px var(--black);
    -webkit-box-shadow: 5px -4px 15px 5px var(--black);
    box-shadow: 5px -4px 15px 5px var(--black);
    background: var(--block-background-gradient-night);
    border: 1px solid var(--black);
    color: var(--white);
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 1px 1px var(--black);
}

#menu-deroulant {
    cursor: pointer;
}

.btn-deroulant-style {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration: none;
    width: 150px;
    height: 35px;
}

/* input nuit */

.integrationInputNight {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--black);
    background: var(--integration-input-background-gradient-night);
    color: var(--white);
    border-style: groove;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.695);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.695);
    font-family: Georgia;
}

.integrationInputNight::placeholder {
    color: var(--placeholder-color-night);
    text-shadow: none;
}

.integrationInputNight:focus {
    outline: none;
}

.labelNight {
    font-size: 16px;
    color: var(--white);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.695);
    font-family: Georgia;}


/* Styles pour le bouton de recherche personnalisé en mode nuit */
.custom-search-submit-Night {
    background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
    background-color: rgb(63,67,218);
    border: 1px solid #4e6096;
    box-shadow: 5px -4px 15px 5px #4e6096;
    -moz-box-shadow: 1px solid #000;
    -webkit-box-shadow: 1px solid #000;
    box-shadow: 5px -4px 15px 5px #000;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.695);
    font-size: 16px;
    color: var(--white);
}

.custom-search-submit-Night:hover {
    background: rgb(63,67,218);
    background: -webkit-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    background: -o-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
}

/* Styles pour les boutons radio en mode nuit */
.radioInputNight + .labelNight {
    background: linear-gradient(0deg, rgba(63,67,218,0.75) 0%, rgba(111,34,195,0.75) 100%);
    border: 1px solid #000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.695);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.695);
}

.radioInputNight:checked + .labelNight {
    border: 1px dashed #ccc;
    background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
}

/* Styles pour les tableaux en mode nuit */
.tableauNight  {
    background-color: rgba(75, 63, 246, 0.243);
    border: 1px solid rgb(6, 0, 10);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    box-shadow: 1px 2px 5px 2px #000000;
}

/* Styles pour le formulaire en mode nuit */
/* Bloc formulaire */
.blocCandidatureNight {
    background: rgba(112, 126, 246, 0.35);
    box-shadow: 1px 2px 5px 2px #000000;
    padding: 4vw;
}

/* Styles pour les cellules du tableau en mode nuit */
.tableauNight th {
    font-style: normal;
    font-size: 18px;
}

.tableauNight th, .tableauNight td  {
    background-color: #30104a46;
}

.tableauNight td a {
    color: rgb(12, 0, 173);
}

.tableauNight td a:hover {
    color: rgb(60, 73, 255);
}



/*---------------------------------------------------FOOTER--------------------------------------------------------------*/


#background-menu {
    width: auto;
    height: auto;
    padding: 1.8rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/* Item 1*/

#menu-affichage {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 20vw;
    -ms-flex: 0 00 20vw;
    flex: 0 0 20vw;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}


/* Item 2  */

#menu-info {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 10vw;
    -ms-flex: 0 0 10vw;
    flex: 0 0 10vw;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

}

.menu-conteneur {
    position: relative;
}

.menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.separator {
    border: 2px dashed #d7e1ff;
    width: auto;
}

/* btn footer */

.style-menu {
    position: absolute;
    list-style: none;
    top: -214px;
}

/* Gestion ouverture et fermeture du dropbutton */


.open {

    height: auto;
    width: 150px;
    opacity: 1;
    text-align: center;
    padding-top: 12px;

}

.close {
    opacity: 0;
    overflow: hidden;
    text-align: center;

}

/* thumbnail videi */

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 300px;
    margin: auto;
    cursor: url('../images/icon/cursor-sleep.png'), pointer;
}



#bloc-choix-video {
    padding: 1.5rem;


}

#bloc-thumbnail { 
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5rem;
}



.thumbnail {
    max-width: 300px;
    max-height: 168.66px;
}

.choix-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.video-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@-webkit-keyframes btnhide {
    from { left: 1vw;
    }
      to {  left: -5vw;
    }
}
@keyframes btnhide {
    from { left: 1vw;
    }
      to {  left: -5vw;
    }
}


@-webkit-keyframes btndshow {
    from { left: -5vw;
    }
      to {  left: 1vw;
    }
}
@keyframes btndshow {
    from { left: -5vw;
    }
      to {  left: 1vw;
    }
}

#bloc-cacher:hover {
    left: 1vw;
    -webkit-animation: btndshow ;
    animation: btndshow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#moon-container {
    width: 200px;
    height: 200px;
    position: relative;
    background: #000;
}

#moon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

#shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
}



