/* Déclarez les variables CSS pour les couleurs, la police et la taille de texte */
/* Couleurs */
:root {
    --white : rgba(252, 252, 252, 1); ;
    --entete-border-bottom-color-day: #baefff;
    --entete-background-color-day: rgba(251, 175, 44, 0.245);
    --entete-box-shadow-color-day: #ffefbb;
    --box-shadow-color-day: #ebf0ff;
    --gradient-start-color-day: rgba(252, 252, 252, 0.5);
    --gradient-end-color-day: rgba(129, 182, 249, 0.5);
    --border-color-day: #baefff;
    --text-color-day: #256aff;
    --background-color-day: rgba(252, 252, 252, 0.5);
    --btn-box-shadow-color-day: #ebf0ff;
    --btn-gradient-start-color-day: rgba(252, 252, 252, 1);
    --btn-gradient-end-color-day: rgba(129, 182, 249, 1);
    --btn-border-color-day: #baefff;
    --btn-background-color-day: rgba(252, 252, 252, 1);
    --btn-button-hover-background-color-day: rgba(0, 209, 254, 1);
    --btn-text-shadow-day: #fff7a4;

    --btn-hover-gradient-start-color-day: rgba(0, 209, 254, 1);
    --btn-hover-gradient-end-color-day: rgba(128, 184, 247, 1);
    --btn-hover-background-color-day: rgba(0, 209, 254, 1);
    --btn-hover-button-hover-background-color-day: rgba(0, 209, 254, 1);
}

/* Police */
:root {
  --font-family: Georgia, serif;
  --font-size: 16px;
}



* {
    margin: 0 ;
    padding: 0;

}

body {
    background-size: contain;
    background-color: #bfdff8;
    background-size: auto;
}

.background-jour {
    background-image: url(../images/background/japoness_anaya.png);

}

.background-crepuscule{
    background-image: url(../images/background/Kollab_s_DrugStuck.png);
    
}

.background-nuit{
    background-image: url(../images/background/dragon_and_katana.jpg);
}

#background-image {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}


/* class volatile */

.menuModeNuit {
    background : var(--menuBgNuit);
    background: var(--menuNuit);
    -webkit-box-shadow: 5px -5px 15px 5px #2132FF; 
    box-shadow: 5px -2px 15px 5px #2132FF;
}


.flex{
    display: flex!important;
}

.flex2 {
    display: flex;
}

.block{
    display: block!important;
    
}

.none {
    display: none!important;
}

.none2 {
    display: none;
}


/* Date style */

#navBar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    }



.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 2;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: start;
    align-self: center;
    }


/* flex météo */

.flex-meteo {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#icon-meteo {
    width: 48px;
    height: 48px;
}

.flex-meteo-item:nth-child(1) {
    flex: 0 0 2vw;

    }

.flex-meteo-item:nth-child(2) {
    flex: 0 0 8vw;
    }

/*.navBar {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;


}*/

.item {
    display: inline-block;
    width: 35vw;
    height: 95px;
    font-size: calc(0.7rem + 0.5vw);
    font-family: 'Times New Roman', Times, Georgia, serif;
    text-align: center;



}

/* google recherche  */

/* Style pour le conteneur du formulaire */
.custom-search-container {
    /* Ajoutez ici les styles que vous souhaitez appliquer au conteneur */
    display: flex; /* Utilisez un affichage flexible pour aligner les éléments horizontalement */
    height: 35px;
    width: 50vw;
    margin: auto;
    padding: 5vw;
}

/* Style pour le champ de texte de recherche */
.custom-search-input {
    /* Ajoutez ici les styles que vous souhaitez appliquer au champ de texte */
    width: 200px; /* Exemple de largeur */
    flex-grow: 1; /* Faites en sorte que le champ de texte prenne le reste de l'espace disponible */
}

.custom-search-form input {
    /* Annulez les styles indésirables ici */
    width: auto; /* Réinitialise la largeur à la valeur par défaut */
    min-width: auto; /* Réinitialise la largeur minimale à la valeur par défaut */
    /* Ajoutez d'autres styles spécifiques au formulaire de recherche ici */
}

/* Style pour le bouton de soumission */
.custom-search-submit {
    /* Ajoutez ici les styles que vous souhaitez appliquer au bouton de soumission */
    background-color: #007bff; /* Exemple de couleur de fond */
    color: #fff; /* Exemple de couleur du texte */
    font-size: 12px; /* Taille de la police du texte */
    padding: 5px 10px; /* Espacement interne (padding) pour le bouton */
    border: none; /* Supprimer la bordure du bouton */
    cursor: pointer; /* Curseur de souris en forme de main */
    flex-shrink: 0; /* Empêche le bouton de réduire sa taille pour s'adapter à l'espace disponible */
}


.listsoleil{
    list-style: none;
}

#bloc-horloge {
    height: auto;
    width: 180px;
    position: fixed;
    bottom: 20px;
    right: 2vw;
    text-align: center;
}

.PM {
    font-size: 28px;
    font-family: 'Times New Roman', Times, Georgia, serif;
    padding-left: 43px;
}

/* bloc horloge */


/* cadre horloge */
 
#horloge-background {
    background-image: url('https://www.monhorloge.fr/wp-content/uploads/2020/01/free-clock-faces-template-1024x1024.png');
    opacity: 0.5;
    background-size: contain;
    background-color: aliceblue;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
    transform: translate(10%, 0%);

}

/* aguille */

/* Petit et grande Aiguille */

.grande-aiguille, .petite-aiguille {
    position: absolute;
    height: 47px; width: 3.21px;
    margin: auto;
    top: -27%; left: 0;	bottom: 0; right: 0;
    background: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform-origin: bottom center;
    transform: rotate(0deg);
}

/* Uniquement grande Aiguille */

.grande-aiguille {
    position: absolute;
    height: 67px;
    width: 2.5px;
    top: -38%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
}

/* L'aiguille des secondes */

.seconde {
    position: absolute;
    height: 46px;
    width: 2px;
    margin: auto;
    top: -26%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #ff4b3e;
    transform-origin: bottom center;
    transform: rotate(180deg);
}

.dot {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 2px;
	 height: 2px;
	 border-radius: 50%;
	 background: white;
	 border: 2px solid #1b1b1b;
	 margin: auto;
}


/* Liste site */

/* bloc logo */

#fav-site-bloc {
    position: relative;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: space-between;
}

/* Lorsque la souris survole un lien */
.logo {
    transition: transform 0.5s; /* Ajoutez une transition pour une animation fluide */
  }
  
  .logo:hover {
    transform: translate(0,-25px)
}
  
  

/* bloc site */

#fav-site-bloc > div {
    flex : 1 1 250px;
}


.logo {
    width: 250px;
    height: 250px;
    opacity: 0.50;
    border: 2px solid #1b1b1b;
    z-index: 2;
}

.logo:hover {
    opacity: 1;
}

/* bloc-video */

#bloc-video {
    margin-top: 35px;
    margin-bottom: 35px;
}

/* video-youtube block*/

#video-youtube {
    margin-top: 35px;
    margin-bottom: 35px;
}


/* bloc_group */

#bloc_group {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



#content-video {
    display: flex;
} 




#menu-video {
    opacity: 1;
}

.fade {
    -webkit-animation: fadeoutVideo ;
    animation: fadeoutVideo;
    animation-duration: 1.29s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeoutVideo {
    from { opacity: 1; 
    }
      to { opacity: 0; 
    }
}
@keyframes fadeoutVideo {
    from { opacity: 1;  
    }
      to { opacity: 0; 
    }
}







#session-video {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}


#video-youtube {
    width: 1000px;
    height: 562.57px;

}

#video-youtube iframe {
    width: 100%;
    height: 100%;

}

.simplescreen {
    animation: simplescreenyoutube;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.fullscreen {

    animation: fullscreenvideo;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}


@keyframes fullscreenvideo {
    from { width: 1000px; height: 562px;

    }
      to { width: 1249px; height: 702.5px;
    }
}

@keyframes simplescreenyoutube {
    from { width: 1249px; height: 702.5px;
    }
    to { width: 1000px; height: 562px;

    }

}

@keyframes youtubetest {
    from { 
        width: 1000px; 
        height: 562px;
    }
    to { 
        width: 1249px!important; 
        height: 702.5px!important;
    }
}



#bloc-choix-video {
    margin-right: auto;
    margin-left: auto;
    /*max-width: 85vw;*/
    width: 1000px;
    height: 562px;
    overflow: auto;

}


/* style input / btn  */

/* block btn show */

#bloc-cacher {
    position: absolute;
    left: -15vw;
    top: 140px;
    -webkit-animation: btnhide ;
    animation: btnhide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/* Tableau */



#session-tableau {

    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 50px;
    

}

#tableau {
    overflow-x:auto;
}

.table-wrapper {
    justify-content: center;
    align-items: center;
}


#bloc-tableau {

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: auto;

}


th {
    width: auto;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border: #000 2px solid;
}

td {
    border: #000 1px solid;
    text-align: center;
    width: auto;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}


#bloc-mise-a-jour {
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: end;
}

/* bloc bouton ouverture du formulaire de candidature */

#openFormBloc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* formulaire */

#blocCandidature {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blocCandidature form {
    width: 50%;
}

#blocCandidature h1 {
    text-align: center;
}

.blocFormulaire {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1vw;
}

.blocFormulaire label {
    text-align: center;
    padding: 1vw;
}

.blocFormulaireLigne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#blocCandidature form input {
    width: 100%;
    min-width: 18vw;    
}

/****** input radio *******/

/* bloc reponse */

#blocReponse {
    justify-content: end;
    padding-bottom: 13px;
}


.inputBlocRadio {
    display: flex;
    align-items: center;
}

input[type="radio"].radioInput {
    display: none;
  }

.labelRadio {
    border-radius: 25%;
}

.blocButtonSubmit {
    display: flex;
    justify-content: center;
}


/* ------------------------------------------------- Mode-Jour ---------------------------------------------------------------*/


/* entete */

.EnteteTimeDay {
    border-bottom : var(--entete-border-bottom-color-day);
    background: var(--entete-background-color-day);
    box-shadow: 1px 2px 5px 2px var(--entete-box-shadow-color-day);
    color: var(--white);
}

/* bloc-choix-video */

.block-choix-video-TimeDay{
    -moz-box-shadow: 16px 0px 0px 2px var(--box-shadow-color-day);
    -webkit-box-shadow: 16px 0px 0px 2px var(--box-shadow-color-day);
    background: -webkit-linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    background: -moz-linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    background: -o-linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    background: var(--background-color-day);
    background: linear-gradient(90deg, var(--gradient-start-color-day) 0%, var(--gradient-end-color-day) 100%);
    box-shadow: 5px -4px 15px 5px var(--box-shadow-color-day);
    border: 1px solid var(--border-color-day);
    color: var(--text-color-day);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: bold;
    text-decoration: none;
}

/* Tumbnail  */

.figureTimeDay {
    border: thin var(--border-color-day) solid;
}

/* figcaption */

.figcaptionTimeDay {
    background: linear-gradient(90deg, var(--btn-gradient-start-color-day), var(--btn-gradient-end-color-day) 100%);
    color: var(--text-color-day);
}

/* btn video  */


.btn-show-TimeDay{
    -moz-box-shadow: 5px -4px 15px 5px var(--btn-box-shadow-color-day);
    -webkit-box-shadow: 5px -4px 15px 5px var(--btn-box-shadow-color-day);
    box-shadow: 5px -4px 15px 5px var(--btn-box-shadow-color-day);
    background: -webkit-linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    background: -moz-linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    background: -o-linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    background: linear-gradient(90deg, var(--btn-gradient-start-color-day) 0%, var(--btn-gradient-end-color-day) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
    background-color: var(--btn-background-color-day);
    border: 1px solid var(--btn-border-color-day);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:var(--text-color-day);
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow: 2px 1px 1px var(--btn-text-shadow-day);
}

.btn-show-TimeDay:hover {
    background: -webkit-linear-gradient(90deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    background: -moz-linear-gradient(0deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    background: -o-linear-gradient(90deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    background: linear-gradient(90deg, var(--btn-hover-gradient-start-color-day) 0%, var(--btn-hover-gradient-end-color-day) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
}

.btn-show-TimeDay:active {
	position:relative;
	top:1px;
}


/* Google recherche day */
 
.custom-search-submit-day {
        background: -webkit-linear-gradient(90deg, var(--btn-gradient-start-color-day), var(--btn-gradient-end-color-day));
        border: 1px solid var(--border-color-day);
        color: var(--text-color-day);
        box-shadow: 0px 0px 5px rgba(235,240,255,.72);
        text-shadow: 0px 0px 5px rgba(248,255,113,.75);
        font-size: 16px;



}
.custom-search-submit-day:hover {
    background: rgba(0,209,254,1);



}


.integrationInputDay {
    padding: 5px;
    font-size: 16px;
    border-width: 2px;
    border-color: var(--border-color-day);
    background-color: var(--white);
    color: #11d3ff;
    border-style: groove;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(235,240,255,.72);
    text-shadow: 0px 0px 5px rgba(248,255,113,.75);
}
.integrationInputDay:focus {
    outline:none;
}

#label-integration-content {
    flex: 0 0 207.6px;
    text-align: center;
}

.integrationInputDay::placeholder {
    color: #0088ff;
    text-shadow: none;
}


/* Tableau Jour */

.tableau-jour {
    background-color: #0088ff40;
    color : white;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    box-shadow: 0px 0px 5px #ffefbb;
    border: 1px solid #baefff;

}

.tableau-jour a {
    color: white;
}

.tableau-jour a:hover {
    color: rgb(146, 241, 239);
}

.tableau-jour th {
    font-style: normal;
    font-size: 18px;
}



.tableau-jour th, td  {
    background-color: #e5eeee46;

}



 .formReponseLegend{
    text-align: center;
    padding: 8px;
 }


.tableau-nuit {
    background-color: #0088ff1e;
}


/* Formulaire jour */




    /* Bloc formulaire */

    .blocCandidatureDay {
        border-bottom : 1px solid #eafffe;
        background: rgba(14, 255, 251, 0.35);
        box-shadow: 1px 2px 5px 2px #ffffff;
        padding: 4vw;
    }




.radioInputDay + .labelDay {
	background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    border: 1px solid #baefff;
    
}

.radioInputDay:checked + .labelDay {
    border: 1px dashed #fffcf2;
    background: linear-gradient(90deg, rgba(0,209,254,1) 28%, rgba(128,184,247,1) 100%);
}

.labelDay {
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgb(224, 237, 123);
    font-family:Georgia;
}

/* Foooter */

.blockTimeDay {
    -moz-box-shadow: 16px 0px 0px 2px #ebf0ff;
	-webkit-box-shadow: 16px 0px 0px 2px #ebf0ff;
    background: (90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -o-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: rgba(252,252,252,1);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
    box-shadow: 5px -4px 15px 5px #ebf0ff;
	border: 1px solid #baefff;
    color: #256aff;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow : 2px 1px 1px #fff7a4;
}




/* Foooter */

.blockTimeDay {
    -moz-box-shadow: 16px 0px 0px 2px #ebf0ff;
	-webkit-box-shadow: 16px 0px 0px 2px #ebf0ff;
    background: (90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: -o-linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    background: rgba(252,252,252,1);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(129,182,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
    box-shadow: 5px -4px 15px 5px #ebf0ff;
	border: 1px solid #baefff;
    color: #256aff;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow : 2px 1px 1px #fff7a4;
}

/************************************************* Mode-Crepuscule ***********************************************************/

.EnteteTimeSunset {
    border-bottom : 1px solid #bcff57;
    background: rgba(255, 118, 14, 0.35);
    box-shadow: 1px 2px 5px 2px #ff9e27;
    color: #020705;
}


/* block */


.integrationInputSunset {
    padding: 5px;
    font-size: 16px;
    border-width: 2px;
    border-color: 1px solid  #07541e;
    background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    color: #ff0000;
    border-style: groove;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgb(255, 166, 64);
}
.integrationInputSunset:focus {
    outline:none;
}

#label-integration-content {
    flex: 0 0 207.6px;
    text-align: center;
}

.integrationInputSunset::placeholder {
    text-shadow: 1px 2px 5px rgb(255, 213, 3);
    color: #f3375dfb;
    text-shadow: none;
}



/* bloc-choix-video */

.block-choix-video-TimeSunset{
    -moz-box-shadow: 5px -4px 15px 5px #ff8c21;
	-webkit-box-shadow: 5px -4px 15px 5px #ff8c21;
    background: -webkit-linear-gradient(90deg, rgba(254,166,84,0.50) 5%, rgba(255, 138, 13, 0.50) 100%);
    background: -moz-linear-gradient(90deg, rgba(254,166,84,0.50) 5%, rgba(255, 138, 13, 0.50) 100%);
    background: -o-linear-gradient(90deg, rgba(254,166,84,0.50) 5%, rgba(255, 138, 13, 0.50) 100%);
    background: rgba(254,166,84,0.50);
    background: (90deg, rgba(254,166,84,0.50) 5%, rgba(255, 138, 13, 0.50) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea65484",endColorstr="#f7752e92",GradientType=1);
    box-shadow: 5px -4px 15px 5px #ff8c21;
	border: 1px solid #ffc003;
    color: #020705;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
}

/* Tumbnail  */

.figureTimeSunset {
    border: thin #c49c09 solid;
}

/* figcaption */

.figcaptionTimeSunset {
    background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    color:#020705;
}

/* BTN */

.btn-show-TimeSunset{
    -moz-box-shadow: 1px solid #ffc003;
	-webkit-box-shadow: 1px solid #ffc003;
	box-shadow: 5px -4px 15px 5px #ff8c21;
    background-color:rgba(254,166,84,1);
	background: -moz-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: -o-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	background: -webkit-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
    border: 1px solid #07541e;
	cursor:pointer;
	color:#020705;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow: 2px 1px 1px #a46d36;
}

.btn-show-TimeSunset:hover {
    background: rgb(255,183,115);
    background: -o-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    background: linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1);
}

.btn-show-TimeSunset:active {
	position:relative;
	top:1px;
}

.blockTimeSunset {
    -moz-box-shadow: 5px -4px 15px 5px #ff8c21;
	-webkit-box-shadow: 5px -4px 15px 5px #ff8c21;
    background: -webkit-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: -moz-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: -o-linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea654",endColorstr="#f1f780",GradientType=1);
    box-shadow: 5px -4px 15px 5px #ff8c21;
	border: 1px solid #07541e;
    color: #020705;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    text-shadow : 2px 1px 1px #a46d36;
}




/* Tableau crépuscule */

.tableauSunset  {
    background-color: rgba(255, 119, 0, 0.334);
    border: solid 1px #bcff57;
    color : rgb(27, 17, 17);
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-shadow : 2px 1px 1px #a46d36;
    box-shadow: 1px 2px 5px 2px #ff9e27;

}

.tableauSunset th {
    font-style: normal;
    font-size: 18px;
}



.tableauSunset th, .tableauSunset td {
    background-color: #e5eeee46;
    color: rgb(255, 232, 199);
    text-shadow : 1px 1px 1px #feffe0;
}

.tableauSunset th {
    color: #1c1c1c;
}

.tableauSunset td a {
    color: rgb(85, 113, 255);
}


.tableauSunset td a:hover {
    color: rgb(255, 91, 91);
}
.tableauSunset #bloc-mise-a-jour p {
    color: rgb(255, 115, 0);
    text-shadow : 1px 1px 1px #ff3434;
}


/* Formulaire sunset  */

    /* Bloc formulaire */

    .blocCandidatureSunset {
        border: 1px solid #baefff;
        background: rgba(251, 175, 44, 0.245);
        box-shadow: 1px 2px 5px 2px #ffefbb;
        padding: 4vw;
    }


.radioInputSunset + .labelSunset {
	background: linear-gradient(90deg, rgba(254,166,84,1) 5%, rgba(255, 138, 13, 0.788) 100%);
	border: 1px solid #07541e;


}

.radioInputSunset:checked + .labelSunset {
    border: 1px dashed rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255,183,115,1) 0%, rgba(137,128,247,1) 100%);
}

.labelSunset {
    font-size: 16px;
    color: #020705;   
    font-family:Georgia;
    text-shadow: 2px 1px 1px #a46d36;
}



/* ------------------------------------------------- Mode-Nuit ---------------------------------------------------------------*/

.EnteteTimeNight {
    border-bottom : 1px solid rgb(6, 0, 10);
    background: rgba(75, 63, 246, 0.243);
    box-shadow: 1px 2px 5px 2px #000;
    color: #ffffff;
}

/* bloc-choix-video */

.block-choix-video-TimeNight{
    -moz-box-shadow: 5px -4px 15px 5px #000;
	-webkit-box-shadow: 5px -4px 15px 5px #000;

    background: rgba(63,67,218,0.50);
	background: -webkit-linear-gradient(0deg, rgba(63,67,218,0.50) 0%, rgba(111,34,195,0.50) 100%);
	background: -moz-linear-gradient(0deg, rgba(63,67,218,0.50) 0%, rgba(111,34,195,0.50) 100%);
	background: -o-linear-gradient(0deg, rgba(63,67,218,0.50) 0%, rgba(111,34,195,0.50) 100%);
	background: linear-gradient(0deg, rgba(63,67,218,0.50) 0%, rgba(111,34,195,0.50) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea65484",endColorstr="#f7752e92",GradientType=1);
    box-shadow: 5px -4px 15px 5px #000;
	border: 1px solid #000;
    color: #ffffff;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
}

/* Tumbnail  */

.figureTimeNight {
    border: thin #000 solid;
}

/* figcaption */

.figcaptionTimeNight {
    background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    color:#fff;
}

/* Btn */

.btn-show-TimeNight{
    -moz-box-shadow: 5px -4px 15px 5px #000;
	-webkit-box-shadow: 5px -4px 15px 5px #000;
	box-shadow: 5px -4px 15px 5px #000;
	background: -webkit-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	background: -moz-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	background: -o-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
	background-color: rgb(63,67,218);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border: 1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow: 2px 1px 1px #283966;
}

.btn-show-TimeNight:hover {
    background: rgb(63,67,218);
    background: -webkit-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    background: -o-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
}

.btn-show-TimeNight:active {
	position:relative;
	top:1px;
}

.blockTimeNight {
    -moz-box-shadow: 5px -4px 15px 5px #000;
	-webkit-box-shadow: 5px -4px 15px 5px #000;
	box-shadow: 5px -4px 15px 5px #000;
	background: -webkit-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	background: -moz-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	background: -o-linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(111,34,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3fda', endColorstr='#9b78c1',GradientType=0);
	background-color: rgb(63,67,218);
    color: #ffffff;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
	text-shadow: 2px 1px 1px #283966;
    border: 1px solid #4e6096;

}

#menu-deroulant{
    
    cursor: pointer;
}

.btn-deroulant-style {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	display:inline-block;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
    width: 150px;
    height: 35px;
}

/* input nuit */

.integrationInputNight {
    padding: 5px;
    font-size: 16px;
    border-radius:8px;
    border:1px solid #000;
    background: linear-gradient(0deg, rgba(63,67,218,0.75) 0%, rgba(111,34,195,0.75) 100%) ;
    color: #ffffff;
    border-style: groove;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.695);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.695);
    font-family:Georgia;

}

.integrationInputNight::placeholder {
    color: #1b1b1b;
    text-shadow: none;
}
.integrationInputNight:focus {
    outline:none;
}

.labelNight {
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.695);
    font-family:Georgia;

}

/* input radio night */



  .radioInputNight + .labelNight {
    background: linear-gradient(0deg, rgba(63,67,218,0.75) 0%, rgba(111,34,195,0.75) 100%) ;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.695);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.695);
  }



  .radioInputNight:checked + .labelNight {
    border: 1px dashed #ccc;
    background: linear-gradient(0deg, rgba(63,67,218,1) 0%, rgba(155,120,193,1) 100%)


  }

/* Tableau nuit */

.tableauNight  {
    background-color: rgba(75, 63, 246, 0.243);
    border: 1px solid rgb(6, 0, 10);
    color : rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    box-shadow: 1px 2px 5px 2px #000000;

}

/* Formulaire jour */

    /* Bloc formulaire */

    .blocCandidatureNight {
        background: rgba(112, 126, 246, 0.35);
        box-shadow: 1px 2px 5px 2px #000000;
        padding: 4vw;
    }

.tableauNight th {
    font-style: normal;
    font-size: 18px;
}



.tableauNight th, .tableauNight td  {
    background-color: #30104a46;


}

 .tableauNight td a {
    color: rgb(12, 0, 173);
}

 .tableauNight td a:hover {
    color: rgb(60, 73, 255);

}

/*---------------------------------------------------FOOTER--------------------------------------------------------------*/


#background-menu {
    width: auto;
    height: auto;
    padding: 1.8rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/* Item 1*/

#menu-affichage {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 20vw;
    -ms-flex: 0 00 20vw;
    flex: 0 0 20vw;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}


/* Item 2  */

#menu-info {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 10vw;
    -ms-flex: 0 0 10vw;
    flex: 0 0 10vw;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

}

.menu-conteneur {
    position: relative;
}

.menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.separator {
    border: 2px dashed #d7e1ff;
    width: auto;
}

/* btn footer */

.style-menu {
    position: absolute;
    list-style: none;
    top: -214px;
}

/* Gestion ouverture et fermeture du dropbutton */


.open {

    height: auto;
    width: 150px;
    opacity: 1;
    text-align: center;
    padding-top: 12px;

}

.close {
    opacity: 0;
    overflow: hidden;
    text-align: center;

}










/* thumbnail videi */

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 300px;
    margin: auto;
    cursor: url('../images/icon/cursor-sleep.png'), pointer;
}

#bloc-thumbnail { 
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.thumbnail {
    max-width: 300px;
    max-height: 168.66px;
}

figcaption {
    padding: 3px;
    font: italic bold smaller sans-serif;
    text-align: center;
}



@-webkit-keyframes btnhide {
    from { left: 1vw;
    }
      to {  left: -5vw;
    }
}
@keyframes btnhide {
    from { left: 1vw;
    }
      to {  left: -5vw;
    }
}


@-webkit-keyframes btndshow {
    from { left: -5vw;
    }
      to {  left: 1vw;
    }
}
@keyframes btndshow {
    from { left: -5vw;
    }
      to {  left: 1vw;
    }
}

#bloc-cacher:hover {
    left: 1vw;
    -webkit-animation: btndshow ;
    animation: btndshow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



